soap/mode-wsdl/user/api.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="Api" targetNamespace="urn:Api" xmlns:typens="urn:Api" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <message name="get" />
    <message name="getResponse">
        <part name="getReturn" type="xsd:anyType"/>
    </message>
    <message name="create">
        <part name="nome" type="xsd:string"/>
    </message>
    <message name="createResponse">
        <part name="createReturn" type="xsd:string"/>
    </message>
    <message name="update">
        <part name="id" type="xsd:int"/>
        <part name="nome" type="xsd:string"/>
    </message>
    <message name="updateResponse">
        <part name="updateReturn" type="xsd:string"/>
    </message>
    <message name="delete">
        <part name="id" type="xsd:int"/>
    </message>
    <message name="deleteResponse">
        <part name="deleteReturn" type="xsd:string"/>
    </message>
    <portType name="UserServicePortType">
        <operation name="get">
            <input message="typens:get"/>
            <output message="typens:getResponse"/>
        </operation>
        <operation name="create">
            <input message="typens:create"/>
            <output message="typens:createResponse"/>
        </operation>
        <operation name="update">
            <input message="typens:update"/>
            <output message="typens:updateResponse"/>
        </operation>
        <operation name="delete">
            <input message="typens:delete"/>
            <output message="typens:deleteResponse"/>
        </operation>
    </portType>
    <binding name="UserServiceBinding" type="typens:UserServicePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="get">
            <soap:operation soapAction="urn:UserServiceAction"/>
            <input>
                <soap:body namespace="urn:Api" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:Api" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="create">
            <soap:operation soapAction="urn:UserServiceAction"/>
            <input>
                <soap:body namespace="urn:Api" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:Api" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="update">
            <soap:operation soapAction="urn:UserServiceAction"/>
            <input>
                <soap:body namespace="urn:Api" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:Api" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="delete">
            <soap:operation soapAction="urn:UserServiceAction"/>
            <input>
                <soap:body namespace="urn:Api" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:Api" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    <service name="ApiService">
        <port name="UserServicePort" binding="typens:UserServiceBinding">
            <soap:address location="http://localhost/web-services/soap/mode-wsdl/user/server.php"/>
        </port>
    </service>
</definitions>